<%-include('./header')%>
<%-include('./sidebar')%>
<style>
    body {
        background: rgb(186, 136, 205);
    }

    /* .container-fluid {
        margin-top: 90px;
    } */

    .form-container {
        max-width: 400px;
        margin: 0 auto;
    }

    /* Set a specific width for the input fields */
    .form-control-short {
        width: 150px;
    }
</style>
        <div class="col-md-9">
            <div class="container-fluid" style="margin-top:150px">
                <h2>Change Password</h2>
                <div class="form-container" style="margin-left:0px">
                    <form action="/changepassword" method="post">
                        <div class="mb-3">
                            <label for="currentPassword" class="form-label">Current Password</label>
                            <input type="password" class="form-control col-12" id="currentPassword" name="currentPassword" required>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">New Password</label>
                            <input type="password" class="form-control col-12" id="newPassword" name="newPassword" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm New Password</label>
                            <input type="password" class="form-control col-12" id="confirmPassword" name="confirmPassword" required>
                        </div>
                        <button type="submit">Save Password</button>
                    </form>
                </div>
            </div>
        </div>
    