<%-include('./header')%>
<style>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjusted to cover the entire viewport height */
}

.forgot-password-box {
  background-color: #f0f0f0; /* Background color for the box */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc; /* Simple border */
  width: 90%; /* Set width to a percentage for responsiveness */
  max-width: 400px; /* Set a maximum width for larger screens */
}


.forgot-password-title {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin: 0 0 20px; /* Added margin-bottom */
  border-radius: 5px;
}

.inputBox {
  margin-bottom: 20px;
}

.inputBox input[type="email"] {
  width: 100%;
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 40px;
  color: #000;
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}

.inputBox input[type="email"]:hover {
  color: #42F3FA;
  border: 1px solid #42F3FA;
  box-shadow: 0 0 5px rgba(0, 255, 0, .3), 0 0 10px rgba(0, 255, 0, .2), 0 0 15px rgba(0, 255, 0, .1), 0 2px 0 black;
}

.inputBox input[type="email"]:focus {
  border-bottom: 2px solid #42F3FA;
}

.send-otp-btn {
  border: none;
  outline: none;
  height: 40px; /* Height remains the same */
  width: 50%; /* Reduced width */
  font-size: 16px; /* Font size remains the same */
  background: black;
  color: #fff;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  display: block; /* Ensures button is centered */
  margin: 0 auto; /* Centers button horizontally */
}

</style>

<div class="container">
    <div class="forgot-password-box">
      <h2 class="forgot-password-title">Forgot Password</h2>
      <form action="/forgot-password" method="post">
        <div class="inputBox"> 
          <input id="email" type="email" name="email" placeholder="Enter email id"> 
        </div> 
        <input type="submit" name="" value="Send OTP" class="send-otp-btn">
      </form>
    </div>
  </div>


<%-include('./footer')%>