<style>
body {
    background: rgb(186, 136, 205)
}
.sidebar a {
        display: block;
        margin-bottom: 10px;
        color: #333;
        text-decoration: none;
        font-weight: bold;
        list-style-type: disc; /* Display as bullets */
    }

    .sidebar a:hover {
        color: #682773;
    }

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
</style>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 sidebar" style="margin-top: 90px;">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <!-- <img class="rounded-circle mt-5" width="150px"
                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"> -->
                    <span class="font-weight-bold"><%= data ? (data.firstName || '') : '' %> <%= data ? (data.lastName || '') : '' %></span>

                    <span class="text-black-50"><%= data.user.email %></span><span> <a href="/logout">Logout</a> </span>
            </div>
            <!-- Sidebar Links -->
            <div class="text-center">
                <ul class="list-unstyled">
                    <li><a href="/address" class="text-decoration-none text-dark">Address Book</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Orders</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Wallet</a></li>
                    <li><a href="/changepassword" class="text-decoration-none text-dark">Change password</a></li>
                </ul>
            </div>
        </div>